* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }      
  /* -------------------------------------------------------------------------------------- */    

/* ------------------------------HOME------------------------------------------------------ */
#header {
    background-color: rgb(202, 156, 156);
    padding: 10px;
    
    text-align: center;
    
}
#header .logo img {
    width: 170px;
    height: 150px;
    margin-bottom: 50px;
    
}
/* -----------------------------------FIN HOME-------------------------------------------------- */

/* ----------------------------------Inicio Productos--------------------------------------------------- */



.novedades{
  margin-top: 10px;
  text-align: center;
  font-family: 'Lucida Sans';
  color: blueviolet;
}
.novedades:hover{
  background-color: aqua;
  color: black;
  margin-left: 500px;
  margin-right: 500px;
}
/* contenedor imagenes */
.flex-container {

  background-color: whitesmoke;
  flex-wrap: wrap;
  display: flex;
  gap: 5px;
  
  flex-direction: row;
  justify-content: center;
}
/* imagenes */ 
.flex-item img{
  margin-top: 15px;
  border: 5px solid black;
  height: 300px;
  width: 300px;
}
.flex-item img:hover{
  margin-top: 15px;
  border: 10px solid blue;
  height: 400px;
  width: 400px;
}

/* descripcion producto */
.flex-item h2{
  background-color: white;
  margin-top: 5px;
  border: 2px solid black;
  text-align: center;
  
}
/* Boton comprar  */
.flex-item p{
  text-align: center;
  border: 1px solid black;
  margin-left: 90px;
  margin-right: 90px;
  background-color: rgb(126, 121, 121);
  color: white;
}
.flex-item p:hover{
  text-align: center;
  border: 5px solid red;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgb(126, 121, 121);
  color: white;
}
/* ----------------------------------------------Fin Productos---------------------------------------- */

   
   
   /* ------------------------------------------------------------------------------------------ */


/* CSS NOSOTROS  */
#nosotros {
  justify-content: center;
}
#nosotros .somos h1 {
color: orangered;
 text-align: center;
padding: 10px;
margin: 50px;
font-size: 50px;

}
#nosotros .somos p {
padding: 10px;
margin: 100px;
text-align: justify;
font-size: 20px;
    /* talles */
}

/* css contacto */
#formul {
  color: aliceblue;
  background-color: #ca9c9c;
  border: 2px solid black;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px 10px -10px -10px;
}

/* talllllles */

.titulo {
  text-align: center;
  margin-top: 20px;
  margin-bottom: -50px;
}

#grid-box {

  display: grid;
  text-align: center;


  height: 400px;

    

  gap: 10px;

  grid-template-columns: 200px 200px 200px 200px;

  justify-items: stretch; /* X */

  align-items: stretch; /* Y */

  justify-content: center;

  align-content: center;

}

#grid-box .grid-hijo {

  background-color: rgb(245, 240, 240);

  border: 1px solid black;

  padding: 10px;

}

  


    

.boxPositionFix img {
    
    position: absolute;
    width: 90px;
    height: 90px;
    position: fixed;
    bottom: 120px;
    right: 15px;
}






