* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
        
}


#header {
    background-color: rgb(202, 156, 156);
    padding: 10px;
    
    text-align: center;
    
}
#header .logo img {
    width: 170px;
    height: 150px;
    margin-bottom: 50px;
    
}


/* CSS NOSOTROS  */

#nosotros .somos h1 {
color: orangered;
 text-align: center;
padding: 10px;
margin: 50px;
font-size: 50px;

}
#nosotros .somos p {
padding: 10px;
margin: 100px;
text-align: justify;
font-size: 20px;
    /* talles */
}
#tablas {
border: 5px solid black;
padding: 50px;

 

}
/* css contacto */
#formul {

    background-color: burlywood;
    width: 500px;;
    margin: 100px;   
    border: 1px solid black;
    padding: 50px;
    display: inline-flexbox;
    margin-top: 0;
}
.opinion {
    margin-left: 70px;
    margin-bottom: 50px;
    color: white;
    font-size: 30px;   
}

/* css productos */
.novedades {
    text-align: center;
    margin-bottom: 50pv;
    margin-top: 2px;
    font-size: 70px;
    color: rebeccapurple;
    font-family: 'Gill Sans';
}

.novedades:hover{
    color: brown;
}
.acceso {
    margin-left: 460px;
    margin-top: 50px;
    color: gray;
    
    
}


#tablita {
 margin-top: 100px;
    margin-bottom: 50px;
 text-align: center;
 margin-left: 250px;
 width: 900px;
 height: 300px;
 font-size: 30px;

    
       

}
.titulo  {
    margin-left: 550px;
    margin-bottom: -80px;
    margin-top: 100px;
    
}

    

.boxPositionFix img {
    
    position: absolute;
    width: 90px;
    height: 90px;
    position: fixed;
    bottom: 120px;
    right: 15px;
}

/* prod */
.flex-container {
    
    height: 100vh;
    padding: 50px;
    display: flex;
    gap: 5px;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.flex-item {
    background-color: black;
    color: white;
    width: 400px;
}
.flex-item img {
    width: 100%;
    height: auto;
    border: 1px solid #000;
}





/* footer boots */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

  
    
    
